.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  background: #e8e3e3;
  flex-direction: column;
}

.modal-on {
  background-color: rgb(196, 206, 221);
}








